
.InputArray {
    width: auto;
  }
  .div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .label{
    margin: 10px;
    font-size: x-large;
  }
  #givenInput,
  #output {
    font-size: x-large;
  }

  .btn{
    margin-top: 5px;
    background-color: #72ebeb;
    height: 30px;
    width: 120px;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
  }
  .btn:hover {
    background-color: #3E8E41;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  input{
    width: 400px;
    height: 40px;
    background-color:white;
    border: 2px solid grey;
    border-radius: 4px;
    font-size: 20px;
    transition: border 0.3s;
  }
  input:focus{
    border-color: rgb(11, 172, 172);
    box-shadow: 0 0 5px aqua;
    transition: border-color 0.3s ease;
  }
